.bread-crumbs {
  padding-top: 20px;

  @media (min-width: 580px) {
    padding-top: 24px;
  }

  &__list {
    display: flex;
    gap: 6px;
    color: #969eae;
  }

  &__item {
    display: flex;
    gap: 6px;
  }

  &__item:last-child &__separator {
    display: none;
  }

  &__link {
    border-radius: 4px;
    outline-offset: 4px;
    outline: 1px solid transparent;
    transition: 0.3s all;

    &:hover,
    &:active {
      color: #780096;
    }

    &:focus-visible {
      color: #780096;
      outline-color: #780096;
    }
  }
}
