.contacts {
  &__phone {
    display: flex;
    gap: 4px;
  }

  &__list {
    display: flex;
    gap: 8px;
  }

  &__link {
    transition: 0.3s all;
    outline: 0;

    &:focus-visible {
      color: #780096;
    }

    &:hover {
      color: #780096;
    }
  }
}
